body {
    margin: 0;
        font-family: 'Poppins', sans-serif;
         overflow-x: hidden;
       
}

.section0 {
    width: 100%;
    height: 100px;
    padding: 20px 50px;
    box-sizing: border-box;
    color: rgb(114, 171, 169);
    display: flex;
    justify-content: space-between; 
    align-items: center;           
}
.logo-title {
    display: flex;
    align-items: center; 
     gap: 5px;   
}
.section0 header h1 {
    margin: 0;
    font-size: 70px;
    letter-spacing: 2px;
}
.logo {
    width: 100px;          
    height: auto;
}
.section0 nav {
    display: flex;
    gap: 20px; 
}
.section0 nav a {
    text-decoration: none;
    color:rgba(0, 0, 0, 0.7); 
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s;
}
.section0 nav a:hover {
    color: rgb(114, 171, 169);
    transform: scale(1.1);
}
.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh; 
    width: 100%;
    position: relative;
    overflow: hidden;
    background: rgb(114, 171, 169);
}
.contact-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;              
    height: 100%;
    background: url('assets/contact-us.jpeg') center/cover no-repeat;
    z-index: 1;
}

.contact-details {
    position: relative;
    z-index: 2;              
    margin-left: 65%;       
    padding: 20px;
    color: black;
    max-width: 450px;
}

.contact-details h2 {
    margin: 0; 
    font-size: 25px; 
}
.phone {
    width: 30px;     
    height: 30px;     
    vertical-align: middle;  
    margin: 10px;
}
.phone-icon {
   display: flex;
    margin: 10px;
    align-items: center;
    gap: 2px;

}
.contact-details p {
    font-size: 18px;
    margin: 10px 0;
}

.call-btn {
    margin-top: 20px;
    background: black;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}

.call-btn:hover {
    background: #00b5ad;
}

@media (max-width: 800px) {
    .contact {
        flex-direction: column;
        height: auto;
    }

    .contact-image {
        width: 100%;
        height: 300px;
        position: relative;
    }

    .contact-details {
        margin-left: 0;
        padding: 20px;
    }
}
.contact-wrapper {
    display: flex;
    justify-content: center;   
    margin: 20px 0;            
}

.contact-box {
    background: rgb(114, 171, 169);       
    width: 80%;
    padding: 15px 40px;       
    border-radius: 10px;
    display: flex;              
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0 4px 18px rgba(0,0,0,0.15);
}

.info-item {
    text-align: center;
    width: 33%;               
    padding: 0 5px;         
}
.map-container {
  display: flex;
  justify-content: center;   
  margin: 20px 0;             
}

.map-container iframe {
  width: 100%;               
  max-width: 250px;          
  height: 150px;              
  border: 0;
  border-radius: 10px;
}
.info-item h4 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 600;
}

.info-item p {
    font-size: 16px;
    margin: 5px 0;
}

@media (max-width: 600px) {
    .contact-blue-box {
        flex-direction: column;  
        gap: 25px;
        padding: 25px 20px;
    }
    .info-item {
        width: 100%;           
    }
}


footer {
    background-color:rgb(114, 171, 169);
    color: black;
    padding: 12px 10px;
    font-size: 16px;
}

.footer-container {
    width: 100%;
     min-height: 160px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 330px;
        width: 90%;  
        white-space: nowrap;       
}

.footer-info .info-item {
    margin: 3px 0;
}

.footer-social {
    display: flex;
    gap: 20px;
}

.footer-social img {
    width: 30px;   
    height: 30px;
    padding-right: 10px;
   
}

.footer-copy  {
    margin-top: 10px;
    font-size: 14px;
}


/* Responsive for smaller screens */
@media (max-width: 600px) {
    .footer-container {
        gap: 10px;
    }
    .footer-social {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}
/* Responsive */
@media (max-width: 600px) {
    #slider img {
          width: 100%;
        height: auto; 
    
    }

    nav {
        flex-direction: column;
    }
}
/* services page style */
.services-section {
    width: 100%;
    min-height: 100vh;
    padding: 60px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    align-items: center;  
    background: linear-gradient(to right, rgba(114, 171, 169, 0.6), rgba(0,181,173,0)),  url('assets/services-bg.jpg') center/cover no-repeat;
    background-attachment: fixed;
}
.services-section h2 {
    text-align: center;
    color: black;
    /* margin-bottom: 30px; */
    font-weight: bold;
    font-size: 45px;
}
.title-container {
    background-color: rgba(114, 171, 169,0.7); /* box color */
    text-align: center;                   /* center the text inside */
    border-radius: 10px;                   /* rounded corners */
    width: 100%;                    /* box width fits text */
    padding-right: 12px; 
     padding-left: 12px; 
    margin-bottom: 10px;
}

#services-accordion h3 {
    background: rgba(114, 171, 169, 0.8);
    color: white;
    border-color: black;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
}

#services-accordion div {
    padding: 15px;
    background: #f4f4f4;
    border-left: 3px solid rgb(114, 171, 169);
    /* margin-bottom: 10px; */
    font-size: 16px;
    line-height: 1.5;
}






